# LabVIEW project-specific files to ignore
*.aliases
*.lvlps
*.lvbitx
*.lvuse
*.lvclass
*.xnode
*.cache
*.tmp

# IDE-specific:
.idea/
# Build and output directories
build/
dist/
*.exe
*.dll
*.so
*.zip

# Other temporary or user-specific files
*.bak
*.log
Thumbs.db
